/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
	--sp-smart-primary-2-50: #efe6fb;
	--sp-smart-primary-2-100: #d6c2f5;
	--sp-smart-primary-2-200: #bb99ee;
	--sp-smart-primary-2-300: #9e6de9;
	--sp-smart-primary-2-400: #884ae3;
	--sp-smart-primary-2-500: #6f22dd;
	--sp-smart-primary-2-600: #641dd7;
	--sp-smart-primary-2-700: #5412cf;
	--sp-smart-primary-2-800: #4307c9;
	--sp-smart-primary-2-900: #1e00c0;
	--sp-smart-primary-2-gradient: linear-gradient(
		90deg,
		#0054fb 0%,
		#4a70fe 65.02%
	);
	--smart-post-secondary: #4e6e3e;
	--smart-post-dark-text: #283618;
	--smart-post-dark-2-text: #3a502a;
	--smart-post-light-text: #fffaf2;
}

.components-panel__body.is-opened > .components-panel__body-title {
	margin: -16px -16px 16px;
}

.wp-block-create-block-smart-post-carousel {
	.swiper {
		cursor: grab;
	}
}

.background-style {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 16px 0;

	span {
		font-size: 14px;
		font-weight: 400;
	}

	&__buttons {
		display: flex;
		gap: 8px;
	}

	&__btn {
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 2px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		line-height: 0;

		span {
			display: none;
		}

		svg {
			display: block;
			width: 16px;
			height: 16px;
		}

		&:hover {
			color: #641dd7;
			border-color: #641dd7;
		}

		&.active {
			border-color: #884ae3;
		}
	}
}
