/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-smart-post-carousel {
	.smart-post-carousel-swiper {
		.swiper {
			width: 100%;
			padding-bottom: 40px;
		}

		.swiper-slide {
			height: auto;
			min-height: 200px;
			display: flex;
		}

		.swiper-button-prev,
		.swiper-button-next {
			color: #4e98f3;

			&::after {
				font-size: 24px;
			}
		}

		.swiper-pagination-bullet {
			background: #4e98f3;
			opacity: 0.5;

			&-active {
				opacity: 1;
			}
		}
	}

	.sp-smart-post-carousel-card {
		background: #ffffff;
		overflow: hidden;
		transition: all 0.3s ease;
		max-width: 295px;
		width: 100%;
		display: flex;
		flex-direction: column;

		&-image {
			position: relative;
			width: 100%;
			height: 200px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				transition: transform 0.3s ease;
			}

			&:hover img {
				transform: scale(1.1);
			}
		}
		&-title {
			color: #333;
			font-family: Inter;
			font-size: 22px;
			font-style: normal;
			line-height: 1.2;
			font-weight: 600;
			margin: 6px 0 0;

			&:hover {
				color: var(--smart-post-secondary);
			}
		}
		&-meta-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
		}
	}

	.sp-smart-post-carousel-card-meta-wrapper {
		padding-top: 5px;
	}

	.sp-smart-post-carousel-card-meta-item {
		display: flex;
		align-items: center;
		gap: 4px;
		font-weight: 400;
		color: var(--smart-post-secondary);
		font-size: 12px;
		flex: 0 0 auto;
		min-width: 0;

		svg {
			width: 14px;
			height: 14px;
			color: #666666;
			flex-shrink: 0;
		}

		&-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
