.sp-smart-post-carousel-layout-picker {
	p {
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
	}
	.sp-smart-post-carousel-layouts {
		display: grid;
		gap: 8px;
		text-align: center;
		max-width: 600px;
		justify-items: center;
		&.grid-1 {
			grid-template-columns: 1;
		}
		&.grid-2 {
			grid-template-columns: repeat(2, 1fr);
		}
		&.grid-3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.grid-4 {
			grid-template-columns: repeat(4, 1fr);
		}
		.sp-smart-post-carousel-layout-card {
			cursor: pointer;
			position: relative;
			.sp-smart-post-carousel-img {
				display: flex;
			}
			.sp-smart-post-carousel-title {
				font-size: 13px;
				color: #1e1e1e;
				font-weight: 400;
				line-height: 16px;
				text-align: center;
				margin-top: 4px;
			}
			&.active .active-symbol {
				position: absolute;
				right: 5px;
				top: 2px;
			}
			&.active svg path,
			&.active svg rect:not(.sp-card) {
				stroke-width: 1.6;
			}
		}
	}
}

.sp-smart-post-carousel-panel-pb {
	padding-bottom: 16px;
}
