.sp-smart-post-carousel-toggle {
	.components-flex {
		flex-direction: row-reverse;
	}
	.components-toggle-control__label {
		margin-bottom: 0px;
		font-size: 13px;
		font-weight: 400;
		color: #1e1e1e;
	}
	.components-form-toggle.is-checked .components-form-toggle__track {
		background: var(--sp-smart-primary-2-400) !important;
		border-color: var(--sp-smart-primary-2-400);
	}
	.components-form-toggle.is-checked .components-form-toggle__thumb {
		background: #fff;
	}
	.components-form-toggle .components-form-toggle__thumb {
		background: #757575;
		border-color: #757575;
	}
	&.toggle-update {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4px;
		border: 1px solid #eee;
		border-radius: 4px;
		.sp-smart-post-carousel-toggle-left {
			display: flex;
			align-items: center;
			svg {
				margin: -4px;
			}
			span {
				margin-left: 7px;
				margin-bottom: 0px;
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				text-transform: capitalize;
				color: #1e1e1e;
				font-family: Inter, sans-serif;
			}
		}
		.components-base-control .components-base-control__field {
			padding: 0;
		}
	}
}

.sp-smart-post-carousel-panel-pb {
	padding-bottom: 16px;
}
