.selector-control {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 16px;

	.selector-label {
		flex: 1;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: #2f2f2f;
	}

	&.inline {
		flex-direction: row;
		align-items: center;
	}
}
